{% extends 'reservas_app/base.html' %}

{% block title_page %}
    {{ docente.get_full_name }} - Horario
{% endblock title_page %}

{% block content %}
    <h1 class="page-header" align="center">{{ docente.get_full_name }}</h1>
{% if reservas_list %}
<h2 class="sub-header" align="center">Horario</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-sortable">
        <thead>
        <tr>
            <th class="text-center">Bloque</th>
            <th class="text-center">Lunes</th>
            <th class="text-center">Martes</th>
            <th class="text-center">Miércoles</th>
            <th class="text-center">Jueves</th>
            <th class="text-center">Viernes</th>
        </tr>
        </thead>
        <tbody>
        {% for row in reservas_list %}
        <tr>
            {% for column in row %}
                {% if forloop.first %}
                    <td><p class="btn btn-primary">{{ column }}</p></td>
                {% elif column == 0 %}
                    <td class="text-center">--</td>
                {% elif column.vigente %}
                    <td class="text-center" ><a href="{% url 'asignatura_detalle' column.asignatura.pk %}" class="btn btn-default">{{ column.asignatura }}</a>
                        <br>
                        <b><a class="label label-default" href="{% url 'sala_detalle' column.sala.pk %}">{{ column.sala.nombre }}</a> </b>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
{% endblock content %}