<h1 class="page-header" align="center">{{ table_title }}</h1>
<h2 class="sub-header" align="center">Horario</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th text-align="center">Bloque</th>
            <th text-align="center">Lunes</th>
            <th text-align="center">Martes</th>
            <th text-align="center">Miércoles</th>
            <th text-align="center">Jueves</th>
            <th text-align="center">Viernes</th>
        </tr>
        </thead>
        <tbody>
        {% for row in calendar_list %}
        <tr>
            {% for column in row %}
                {% if forloop.first %}
                    <td><p class="btn btn-primary">{{ column }}</p></td>
                {% elif column == 0 %}
                    <td ">Vacío</td>
                {% else %}
                    <td ><a href="{% url 'asignatura_detalle' column.asignatura.pk %}" class="btn btn-default">{{ column.asignatura }}</a><br> <b><a href="{% url 'docente_detalle' column.asignatura.docente.id %}" class="label label-default">{{ column.asignatura.docente.get_full_name }}</a></b></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>